<header>
    <img src="assets/img/Matheus Alves.jpg"
         alt="Matheus Alves - Foto de Perfil"
         width="130px"
         height="130px"
         loading="eager"
    /> 
    <h1>Matheus Alves da Silva</h1>
</header>

<aside>
    <div>
        <p>Atuando como Suporte | Dev Front-end Jr</p>
        <p>São Paulo, São Paulo, Brasil</p>
        <p>Atualmente trabalho em TI na empresa B4. 
         Realizando suporte técnico e desenvolvimento Front-End jr (JSON) na criação de diplomas digitais,
         auxiliando nos problemas de sistemas e hardwares nas maquinas internas da empresa e externas dos clientes.</p>
    </div>

    <nav>
        <ul>
            <li>
                <a href="assets/pdf/curriculo matheus NOVO ATT 2.pdf" target="_blank" class="btn btn-primary">
                Download Cv
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/matheus-a-a3a258138/" target="_blank" class="btn btn-secondary">
                linkedIn
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img 
                src="assets/icons/knowledge/whatssapp.svg" 
                alt="Icone para contato do whatsapp"
                width="22px"
                height="24px"
            />
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5511983299159&text=Ol%C3%A1%20Matheus,%20Preciso%20de%20um%20job!"
                target="_blank">
                <strong>Envie uma menssagem para:</strong>
                <p>whatsapp: (11) 9 8329-9159</p>
            </a>
            </figcaption>
        </figure>

        <figure>
            <img 
                src="assets/icons/knowledge/email.svg" 
                alt="Icone para contato do e-mail"
                width="22px"
                height="24px"
            />
            <figcaption>
                <a href="mailto:matheuss.aalves17@gmail.com"
                target="_blank">
                <strong>Envie um e-mail para:</strong>
                <p>matheuss.aalves17&#64;gmail.com</p>
            </a>
            </figcaption>
        </figure>
    </section>
</aside>
